/* 
Colours
Grey: #6e6b6e
Purple: #692b7b
*/

:root{
  --purple-colour: #692b7b;
  --grey-colour: #6e6b6e;
}

@font-face {
  font-family: 'FulboFont';
  /*src: url('web fonts/fulbo_argenta_macroman/fulbo-argenta-webfont.woff');*/
  src: url(fulbo-argenta-webfont.woff) format('woff');
}


body{
  margin:0;
  padding:0;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: FulboFont, Arial, Helvetica, sans-serif;
  font-size: 3rem;
}

h2{
  margin-bottom: 25px;
  margin-top: 25px;
  font-size: 2.2rem;
  font-family: FulboFont, Arial, Helvetica, sans-serif;
}

h3{
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: FulboFont, Arial, Helvetica, sans-serif;
}

p{
  font-size: 1.2rem;
}

hr{
  width: 25%;
  margin: auto;
  margin-top: 25px;
  border: 2px solid white; /*#692b7b;*/
  border-radius: 2px;
}


details{
  /*background-color: #303030;*/
  color: #fff;
  font-size: 1.5rem;
  padding-top: 50px;
}

summary {
  padding: .5em 1.3rem;
  list-style: none;
  display: flex;
  justify-content: space-between;  
  transition: height 1s ease;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after{
  content: "\002B";
}

details[open] summary {
    margin-bottom: .5em;
    border-bottom: 1px solid #aaa;

}

details[open] summary:after{
  content: "\00D7";
}

details[open] div{
  /*padding: .5em 1em;*/
  padding: 25px;
  border-bottom: 1px solid #aaa;

}


.full-screen {
 min-height: 100vh;
}

.align-vertical{
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.purple{
  /*background-image: url("derby3_purple.jpg"); */
  background-color: var(--purple-colour);
}

.header{
  background-image: url(HauntedCityRollerDerbyGhostCutOutPurpleTop.png);
  padding-bottom: 50px;
  margin-bottom: 25px;
}


.grey-button{
  background-color: var(--grey-colour);
  border-top: 5px solid whitesmoke;
  border-right: 10px solid #4d4b4d;
  border-bottom: 10px solid #4d4b4d;
  border-left: 10px solid #4d4b4d;
  font-size: 1.2rem;
  color: white;
}

.grey-button:hover{
  background-color: #4d4b4d;
  border-right: 10px solid whitesmoke;
  border-bottom: 10px solid #4d4b4d;
  border-left: 10px solid #4d4b4d;
  color: aliceblue;
}

.grey-button:active{
  background-color: white;
  border-top: 8px solid var(--grey-colour);
  border-right: 10px solid #4a046eff;
  border-bottom: 7px solid whitesmoke;
  border-left: 10px solid #4a046eff;
  transition: 0.05s;
}

a.grey-button{
  color: whitesmoke;
}


.btn{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 4px;
  margin: 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
}

.info-card{
  padding-bottom: 50px;
}

.info-card img{
  width: 100%;
}

.info-card p{
  padding-left: 50px;
  padding-right: 50px;
}

.info-card h2{
  padding-top: 50px;
  padding-bottom: 25px;
}

.img-card{
    border-radius: 10px;
    border: 3px solid var(--purple-colour);
}

@media (min-width: 768px) {
  .info-card{
    padding: 25px;
  }

  .info-card p{
    padding: 0;
  }

  .info-card img{
    border-radius: 10px;
  }
}


/*HomePage*/
h1#title{
    text-align: center;
    padding-top: 25px;
    font-size: 4rem;
    font-family: FulboFont, Arial, Helvetica, sans-serif;
}

h2#subtitle{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 2.5rem;
  font-family: FulboFont, Arial, Helvetica, sans-serif;
}

.title-card img{
    width: 60%;
}

/*#title-card img:hover{
  transform: rotateY(360deg);
  transition-timing-function: ease;
  transition-duration: 5s;
}*/

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 7s ease infinite;
  -moz-animation: rotating 7s ease infinite;
  -ms-animation: rotating 7s ease infinite;
  -o-animation: rotating 7s ease infinite;
  animation: rotating 7s ease infinite;
}

@media (min-width: 576px) {
  .title-card img{
    width: 45%;
  }
}

@media (min-width: 768px) {
  .title-card img{
    width: 35%;
  }
}

@media (min-width: 992px) {
  .title-card img{
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .title-card img{
    width: 20%;
  }
}




.new-intake{
  padding-bottom: 50px;
}

.new-intake-img{
  margin-top: 25px;
  width: 80%;
  border-radius: 25px;
}

.new-intake p{
  padding-left: 50px;
  padding-right: 50px;
}

.new-intake h2{
  padding-top: 50px;
  padding-bottom: 25px;
}

@media (min-width: 768px) {
  .new-intake{
    padding: 25px;
    padding-top: 0px;

  }

  .new-intake p{
    padding: 10px;
    padding-top: 25px;
  }

  .new-intake-img{
    width: 100%;
  }

  .new-intake div{
    padding-bottom: 50px;
  }
}


#junior-star{
  padding-top: 50px;
  font-size: 1rem;
}

.list-container {
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center;
  width: 80%;
  margin: 10px auto 10px auto;
}


.content {
  position: relative;
  width: 100%; /*90%;*/
  max-width: 400px;
  margin: auto;
  padding-top: 50px;
  overflow: hidden
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.8);/* rgba(0, 0, 0, 0.4); */
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s
}

.content:hover .content-overlay {
  opacity: 1;

}

.content-image {
  width: 100%
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase
}

.content-details p {
  color: #fff;
  font-size: 1.1em
}

.fadeIn-bottom {
  top: 80%
}


.social_icon, .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 1.4em;
}

.social_icon, .menu, a{
    color: white;
    margin: 0 10px;
}

.social_icon, .menu, a:hover{
    color: grey;
}

/*Footer*/
#footer-div{
 background-color: var(--purple-colour);
 padding-top: 50px;
}

  #footer-div .social_icon,
#footer-div .menu {
  /*position: relative;
  display: flex;
  justify-content: center;
  align-items: center;*/
  margin-right: 50px;
}

#footer-div .social_icon li,
#footer-div .menu li {
  list-style: none;
}
#footer-div .social_icon li a {
  font-size: 1.5em;
  color: #ccc;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
#footer-div .social_icon li a:hover {
  transform: translateY(-15px);
  color: #fff;
}

#footer-div .menu li a {
  font-size: 1.2em;
  color: #ccc;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  padding: 10px;
}
#footer-div .menu li a:hover {
  opacity: 1;
  color: #fff;
}
#footer-div hr{
  width: 25%;
  margin: auto;
  margin-top: 50px;
  border: 2px solid white;
  border-radius: 2px;
}

#footer-div #designed-by{
  margin: auto;
  padding-top: 50px;
  color: #ccc;
}

#footer-div #copyright{
  font-size: 0.9rem;
  margin: 0 10px;
  text-align: start;
  color: rgb(160, 152, 152);
  opacity: 0.9;
  padding-top: 50px;
  padding-bottom: 5px;
}


/*Contact Us*/
.google-map {
  padding-bottom: 50%;
  position: relative;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}